<!-- <form class="container" (ngSubmit)="saveStudent(studentdata)" #studentRegistrationForm="ngForm">

  <div class="form-group row">
    <label for="Name" class="col-4 col-form-label">Name</label> 
    <div class="col-8">
      <input id="Name" name="Name" placeholder="Name(As per MarkSheet)" type="text" class="form-control" [(ngModel)]="studentdata.name" required #name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <div class="md-form md-outline input-with-post-icon datepicker">
      <label class="col-4">Date Of Birth</label>
      <input placeholder="Select date" type="date" id="DOB" name="Dob" class="form-control" [(ngModel)]="studentdata.dob" #dob="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4">Gender</label> 
    <div class="col-8" >
      <span class=" mgrt ,custom-control custom-radio custom-control-inline">
        <input name="Gender" id="Gender_0" type="radio" class="custom-control-input" value="Male" required [(ngModel)]="studentdata.gender" #gender="ngModel"> 
        <label for="Gender_0" class="custom-control-label">Male</label>
      </span>
      <span class="mgrt ,custom-control custom-radio custom-control-inline">
        <input name="Gender" id="Gender_1" type="radio" class="custom-control-input" value="Female" required [(ngModel)]="studentdata.gender" #gender="ngModel"> 
        <label for="Gender_1" class="custom-control-label">Female</label>
      </span>
      <span class="mgrt ,custom-control custom-radio custom-control-inline">
        <input name="Gender" id="Gender_2" type="radio" class="custom-control-input" value="Other" required [(ngModel)]="studentdata.gender" #gender="ngModel"> 
        <label for="Gender_2" class="custom-control-label">Other</label>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <label for="MobileNumber" class="col-4 col-form-label">Mobile Number</label> 
    <div class="col-8">
      <input id="MobileNumber" name="MobileNumber" placeholder="1234567890" type="text" required class="form-control" [(ngModel)]="studentdata.mobileNumber" #mobile="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label for="EmailAddress">Email address</label>
    <input type="email" class="form-control" id="EmailAddress" name="email" placeholder="abcd@gmail.com" [(ngModel)]="studentdata.email" #email="ngModel">
  </div>

  <div class="form-group row">
    <label for="Institute Code" class="col-4 col-form-label">Institute Code</label> 
    <div class="col-8">
      <input id="Institute Code" name="Institute Code" placeholder="12345" type="number" class="form-control" required [(ngModel)]="studentdata.instituteCode" #instituteCode="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="AadharNumber" class="col-4 col-form-label">Aadhar Number</label> 
    <div class="col-8">
      <input id="AadharNumber" name="AadharNumber" placeholder="1234 1234 1234" type="text" class="form-control" required [(ngModel)]="studentdata.aadhaar" #aadhaar="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="IFSCCODE" class="col-4 col-form-label">Bank IFSC Code</label> 
    <div class="col-8">
      <input id="IFSCCODE" name="IFSCCODE" placeholder="ABCDE123456" type="text" class="form-control" required [(ngModel)]="studentdata.bankIFSC" #bankIFSC="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="BankAccNo" class="col-4 col-form-label">Bank Account No.</label> 
    <div class="col-8">
      <input id="BankAccNo" name="BankAccNo" placeholder="1234567890" type="text" class="form-control" required [(ngModel)]="studentdata.accountNo" #bankAccNo="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="BankName" class="col-4 col-form-label">Bank Name</label> 
    <div class="col-8">
      <input id="BankName" name="BankName" placeholder="SBI, PNB , etc" type="text" class="form-control" required [(ngModel)]="studentdata.bankName" #bankName="ngModel">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="SetPassword" class="col-4 col-form-label">Set Password</label> 
    <div class="col-8">
      <input id="SetPassword" name="SetPassword" placeholder="abcd@123" type="text" required class="form-control" [(ngModel)]="studentdata.password" #password="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="ConfirmPassword" class="col-4 col-form-label">Confirm Password</label> 
    <div class="col-8">
      <input id="ConfirmPassword" name="ConfirmPassword" placeholder="**********" type="text" class="form-control" required>
    </div>
  </div> 

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"> All the above Information furnished by me is true to the best of my knowledge</label>
 </div>

 <div class="button-parent">
  <div class="child form-group row">
    <div class="offset-4 col-8">
      <button name="Register" type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>

  <div class="child form-group row">
    <div class="offset-4 col-8">
      <button name="reset" type="reset" class="btn btn-primary">Reset</button>
    </div>
  </div>

</div>
</form> -->

<!-- ================================== -->

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Student Registration Form</h3>
            <form class="container" [formGroup]="studentregistrationform" (ngSubmit)="saveStudent()">
              <div class="form-group row">
                <label for="Name" class="col-4 col-form-label">Name:</label>
                <div class="col-8">
                  <input placeholder="Name (as per marksheet)" type="text" class="form-control"
                    formControlName="name" />
                </div>
              </div>

              <div class="form-group row">
                <label for="dob" class="col-4 col-form-label">Date Of Birth:</label>
                <div class="col-5">
                  <input placeholder="Select Date" type="date" class="form-control" formControlName="dob" />
                </div>
              </div>

              <div class="form-group form-check form-check-inline">
                <label class="col-12 col-form-label row" for="gender">Gender:</label>
                <div class="col-8">
                  <input id="male" type="radio" value="male" name="gender" formControlName="gender" />
                  <label for="male">Male</label>
                </div>

                <div class="col-8">
                  <input id="female" type="radio" value="female" name="gender" formControlName="gender" />
                  <label for="female">Female</label>
                </div>
              </div>

              <div class="form-group row">
                <label for="MobileNumber" class="col-4 col-form-label">Mobile Number:</label>
                <div class="col-5">
                  <input id="MobileNumber" name="MobileNumber" placeholder="XXXXXXXXXX" type="text" class="form-control"
                    formControlName="mobileNumber" />
                </div>
              </div>

              <div class="form-group row">
                <label for="EmailAddress" class="col-4 col-form-label">Email Address:</label>
                <div class="col-8">
                  <input type="email" class="form-control" id="EmailAddress" name="email" placeholder="Enter your email"
                    formControlName="email" />
                </div>
              </div>

              <div class="form-group row">
                <label for="Institute Code" class="col-4 col-form-label">Institute Code:</label>
                <div class="col-3">
                  <input id="Institute Code" name="Institute Code" placeholder="12345" type="number"
                    class="form-control" formControlName="instituteCode" />
                </div>
              </div>
              <div class="form-group row">
                <label for="AadharNumber" class="col-4 col-form-label">Aadhar Number:</label>
                <div class="col-8">
                  <input id="AadharNumber" name="AadharNumber" placeholder="XXXX XXXX XXXX" type="text"
                    class="form-control" formControlName="aadhaar" />
                </div>
              </div>
              <div class="form-group row">
                <label for="IFSCCODE" class="col-4 col-form-label">Bank IFSC Code:</label>
                <div class="col-8">
                  <input id="IFSCCODE" name="IFSCCODE" placeholder="Enter your IFSC Code" type="text"
                    class="form-control" formControlName="bankIFSC" />
                </div>
              </div>
              <div class="form-group row">
                <label for="BankAccNo" class="col-4 col-form-label">Bank Account No:</label>
                <div class="col-8">
                  <input id="BankAccNo" name="BankAccNo" placeholder="Enter your Bank Account No" type="text"
                    class="form-control" formControlName="accountNo" />
                </div>
              </div>
              <div class="form-group row">
                <label for="BankName" class="col-4 col-form-label">Bank Name:</label>
                <div class="col-8">
                  <input id="BankName" name="BankName" placeholder="Enter the Bank Name" type="text"
                    class="form-control" formControlName="bankName" />
                </div>
              </div>

              <div class="form-group row">
                <label for="SetPassword" class="col-4 col-form-label">Set Password:</label>
                <div class="col-8">
                  <input id="SetPassword" name="SetPassword" placeholder="**********" type="text" class="form-control"
                    formControlName="password" />
                </div>
              </div>
              <div class="form-group row">
                <label for="ConfirmPassword" class="col-4 col-form-label">Confirm Password:</label>
                <div class="col-8">
                  <input id="ConfirmPassword" name="ConfirmPassword" placeholder="**********" type="text"
                    class="form-control" required />
                </div>
              </div>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">
                  All the above Information furnished by me is true to the best
                  of my knowledge</label>
              </div>

              <div class="button-parent">
                <div class="child form-group row">
                  <div class="offset-4 col-8">
                    <button name="Register" type="submit" class="btn btn-primary">
                      Register
                    </button>
                  </div>
                </div>

                <div class="child form-group row">
                  <div class="offset-4 col-8">
                    <button [disabled]="studentregistrationform.invalid" name="reset" type="reset"
                      class="btn btn-primary">
                      Reset
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>