

<div class="container login">
    <form [formGroup]="nodalloginForm" (ngSubmit)="onFormSubmit()">
        <p>ID: <input formControlName="ID">
            <br /><label *ngIf="nodalloginForm.get('ID')?.invalid && nodalloginForm.get('ID')?.dirty" class="error">
                Team name
                is required. </label> 
        </p>
        <p> Password : <input type="password" formControlName="Password"></p>
        <button routerLink="/NodalOfficer" [disabled]="nodalloginForm.invalid">SUBMIT</button>
    </form>
</div>

<div *ngIf="formSubmitted " class="submitted"> Form submitted successfully. </div>