@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}
body {
}

.brdr {
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
