
<div class="mainInstitutehome" >
    <div class="container mrgn-rt" id="leftcomponent">
        <div>
            <h2>Details of Institute {{institutedata.name}}</h2>
        <hr>
        <div >
            Institue Id: {{institutedata.instituteId}}
            InstituteType : {{institutedata.instituteType}}<br>
            State : {{institutedata.state}}<br>
        </div><br>
        </div>
        
    </div>
    <div id="rightcomponent" class="container">
        <div class="container" id="toprightcomponent">
            <h2>Details of Institute {{institutedata.name}}</h2>
            <hr>
            <div >
                InstituteType : {{institutedata.instituteType}}<br>
                State : {{institutedata.state}}<br>
            </div><br>
            <a [routerLink]="['/ApplicationForInstitute/',instituteid]" class="btn btn-primary">Show all Applications</a>
        </div>
    </div>
    
</div>