<div class="mainstudenthome">
    <div class="container mrgn-rt" id="leftcomponent">
        <div>
            <h2>Details of Institute {{institutedata.Name}}</h2>
        <hr>
        <div >
            InstituteType : {{institutedata.InstituteType}}<br>
            State : {{institutedata.State}}<br>
        </div><br>
        </div>
        
    </div>
    <div id="rightcomponent" class="container">
        <div class="container" id="toprightcomponent">
            <h2>Details of Institute {{institutedata.Name}}</h2>
            <hr>
            <div >
                InstituteType : {{institutedata.InstituteType}}<br>
                State : {{institutedata.State}}<br>
            </div><br>
            
        </div>
    </div>
    
</div>