<!-- <div >
    <div class="backgroundImg" ></div>
</div> --> 


<div _ngcontent-eln-c48="" class="row">
  <div _ngcontent-eln-c48="" class="col-sm-4 sizing">

    <div _ngcontent-eln-c48="" class="card card-price">
      <div _ngcontent-eln-c48="" class="card-img imgsize"><a _ngcontent-eln-c48="" href="#"><img src="https://wallpaperaccess.com/full/4521332.jpg" class="img-responsive">
          <div _ngcontent-eln-c48="" class="card-caption"><span _ngcontent-eln-c48="" class="h2">STUDENT</span>

          </div>
        </a></div>
      <div _ngcontent-eln-c48="" class="card-body">


        <p>Student can Register here</p>

        <a routerLink="/StudentRegistration" class="btn btn-primary btn-lg btn-block buttoncolor">Student Registration <span
          class="glyphicon glyphicon-triangle-right"></span></a>
        <p>Student can login here</p>

        <a routerLink="/StudentLogin" class="btn btn-primary btn-lg btn-block buttoncolor">Student Login <span
          class="glyphicon glyphicon-triangle-right"></span></a>
      </div>
    </div>
  </div>

  <div  class="col-sm-4 sizing">

    <div  class="card card-price">
      <div class="card-img imgsize"><a  href="#"><img 
            src="https://wallpaperaccess.com/full/1209458.jpg" class="img-responsive" styles="width:100%">
          <div  class="card-caption"><span class="h2">INSTITUTE</span>

          </div>
        </a></div>
      <div class="card-body">
        <p>Institute can Register here</p>
        <a routerLink="/InstituteRegistration" class="btn btn-primary btn-lg btn-block buttoncolor">Institute Registration <span
          class="glyphicon glyphicon-triangle-right"></span></a>

        <p>Institute can login here</p>
        <a routerLink="/InstituteLogin" class="btn btn-primary btn-lg btn-block buttoncolor">Institute Login <span
          class="glyphicon glyphicon-triangle-right"></span></a>

      </div>
    </div>
  </div>
</div>
