<hr />

<div class="card card-custom bg-white border-white border-0 lead">
  <div
    class="card-custom-img"
    style="
      background-image: url(https://www.purdue.edu/india/images/images/pure.jpg);
    "
  ></div>
  <div class="card-custom-avatar">
    <img
      class="img-fluid"
      src="https://cdn-icons-png.flaticon.com/512/201/201818.png"
      alt="Avatar"
    />
  </div>
  <div class="card-body" style="overflow-y: auto">
    <h3 class="card-title">STUDENT</h3>
    <p class="card-text lead text-muted">
      Card has minimum height set but will expand if more space is needed for
      card body content. You can use Bootstrap
      <a
        href="https://getbootstrap.com/docs/4.0/components/card/#card-decks"
        target="_blank"
        >card-decks</a
      >
      to align multiple cards nicely in a row.
    </p>
  </div>
  <div class="card-footer" style="background: inherit; border-color: inherit">
    <a routerLink="/StudentRegistration" class="btn btn-primary"
      >Student Registration</a
    >
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/StudentLogin" class="btn btn-outline-primary"
      >Student Login</a
    >
  </div>
</div>

<hr />

<div class="card card-custom bg-white border-white border-0 lead">
  <div
    class="card-custom-img"
    style="
      background-image: url(https://www.stowers.org/sites/default/files/styles/hero/public/images/hero/hero-about-us.jpg?itok=buuEcF9H);
    "
  ></div>
  <div class="card-custom-avatar">
    <img
      class="img-fluid"
      src="https://www.iconbunny.com/icons/media/catalog/product/1/4/144.12-building-institution-icon-iconbunny.jpg"
      alt="Avatar"
    />
  </div>
  <div class="card-body" style="overflow-y: auto">
    <h3 class="card-title">INSTITUTE</h3>
    <p class="card-text lead text-muted">
      Card has minimum height set but will expand if more space is needed for
      card body content. You can use Bootstrap
      <a
        href="https://getbootstrap.com/docs/4.0/components/card/#card-decks"
        target="_blank"
        >card-decks</a
      >
      to align multiple cards nicely in a row.
    </p>
  </div>
  <div class="card-footer" style="background: inherit; border-color: inherit">
    <a routerLink="/InstituteRegistration" class="btn btn-primary"
      >Institute Registration</a
    >
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/InstituteLogin" class="btn btn-outline-primary"
      >Institute Login</a
    >
  </div>
</div>

<hr />
